label {
	display: block;
	color: var(--white);
	margin-bottom: 3px;
	font-size: 14px;
}

input {
	width: 100%;
	padding: 12px 8px 3px 6px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #ccc;
	transition: 500ms;
	color: var(--white);
}
input:focus {
	border-color: var(--success);
}

.input {
	margin-bottom: 15px;
}
