* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* ! GLOBAL STYLES */
:root {
	--background: #2a2a2b;
	--success: #0da65b;
	--white: #fff;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background);
	overflow-y: hidden;
}

.text-success {
	color: var(--success);
}

/* ! LAYOUT STYLES */
.flex {
	display: flex;
}

.contenu {
	flex: 30%;
	padding: 2rem;
	border-right: 1.5px solid #333;
}
.affichage {
	flex: 40%;
}

a:active {
	color: var(--success);
}
.section-header {
	margin-bottom: 25px;
	color: var(--white);
}
